---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import H1 from '../components/H1.astro';
import Main from '../components/Main.astro';

---

<Layout title="Skinwalker's Blog" description="Welcome to skinwalker's blog. Content about waking up from the Matrix" >
	<Main>
		<H1 text="Skinwalker's Blog" />
	</Main>
</Layout>

